*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    color: #EDF5E1;
}

body{
    text-align: center;
    align-items: center;
    background-color: #010001; /*#010001*/
    -webkit-font-smoothing: antialiased;
}

.father{
    box-sizing: border-box;
}

.main-h1:hover{
    color: #09f;
}



/*Header*/

nav{
    z-index: 1000;
    margin-top: 10px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(29, 28, 28, 0.6);
    position: fixed;
    color: #EDF5E1;
    padding: 20px 10px;
    backdrop-filter: blur(8px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

li a{
    padding-left: 40px;
}

nav a{
    font-weight: 800;
    color: #EDF5E1;
    letter-spacing: 2px;
    text-decoration: none;
}

nav a:hover{
    color: #09f;
    
    transition: 0.40s;
}

.nav-cv{
    margin-left: 14px;
    border-radius: 2%;
    padding: 10px;
    background-color: #09f;
}

.nav-cv:hover{

    transition: .40s;
    background-color: #EDF5E1;
    color: #000;
}

.logo{
    width: 60px;
}




/*Profile Section*/

.nav-h3{
    font-size: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3%;

}

.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height:100vh;
    color: #EDF5E1;
    text-align: center;
    
}



.profile-container h1{
    font-size: 50px;
    padding-bottom: 15px;

}

.profile-social-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.profile-social-div a {
    border-radius: 10%;
    text-decoration: none;
    padding: 10px;
}



.profile-social-div a svg{
    fill: #09f;
}

.profile-social-div a svg:hover{
    fill: #EDF5E1;
    transition: 0.40s;
}

.profile-about-a{
    text-decoration: none;
    border-radius: 5%;
    padding: 10px 20px;
    background-color: #09f;
}

.profile-about-a:hover{
    font-size: 17px;
    transition: .40s;
    background-color: #EDF5E1;
    color: #000;
}

.profile-social-div-img{
    height: 12px;

}




/*Projects Section*/

.projects-container{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-bottom: 180px;
}



.articles-container{

    display: flex;

    max-width: fit-content;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.projects-container-article{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDF5E1;
    height: 500px;

    border-radius: 3%;
    box-sizing: border-box;
}

.projects-container h1{
    padding: 80px;
}

.projects-container-article p{
    padding: 35px;
    text-align: center;
}


.project-card{
    position: relative;
    align-items: center;
    overflow: hidden;
    
}

.project-card-img{
    width: 320px;
    
}

.project-a:where(.img-a){
    color: #EDF5E1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 98%;
    opacity: 0;
    transition: .7s;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    fill: #EDF5E1;
    background-color: rgba(29, 28, 28, 0.6);
}
.img-a:hover{
    opacity: 100;

}

.h2:where(.img-a){
    text-align: center;
    background-color: #000;
    font-weight: 500;
    color: #EDF5E1;
    padding: 10px;
    border-radius: 75% 0% 85% 0%;
    box-sizing: border-box;
    width: 100%;
}

.project-p:where(.img-a){
    width: 320px;
    color: #000;
    box-sizing: border-box;
    height: 180px;
}

.project-span:where(.img-a){
    color: #000;
}

.p-s{
    color: #09f;
}





/*Skills Section*/

.logok{
    height: 90px;
     width: auto;
 }

 .skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-top: 90px;

}

.skills-container h1{
    padding: 80px;
}

.skills-co{
    flex-wrap: wrap;
    max-width: 850px;
    display: flex;
    margin-left: 100px;
}

.skills-fi{
    margin: 20px;
    width: 190px;
    height: 190px;
    position: relative;
    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
}


.skills-a {
    z-index: 1;  
  }


.skills-fi:hover{
    background-image: linear-gradient(180deg, #09f, #09f);
  }


.skills-fi::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, #09f, #09f);
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .skills-fi::after {
    content: '';
    position: absolute;
    background: #252225
    ;
    inset: 2px;
    border-radius: 15px;
  }  





/*About Section*/

.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 86vh;

}





/*Footer Section*/

.footer-container{

    text-align: center;
    padding: 25px;
}

.footer-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 10px;
}

.footer-div a {
    border-radius: 10%;
    text-decoration: none;
    padding: 5px;
}

.footer-div a:hover {
    color: #09f;
 
    transition: 0.10s;
}

.footer-div a svg{
    fill: #09f;
}

.footer-div a svg:hover{
    fill: #EDF5E1;
    transition: 0.40s;
}

.footer-img{
    padding-top: 7px;
    height: 22px;
}



/*Responsive*/


