*,
*:before,
:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*{
    font-family: 'Overpass', sans-serif;
    color: #EDF5E1;
}
body{
    background-color: #010001;
    -webkit-font-smoothing: antialiased;
}

/*Header*/

nav{
    margin-top: 10px;
 
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(29, 28, 28, 0.6);
    position: fixed;
    top: 0;
    color: #EDF5E1;
    padding: 20px 10px;
    backdrop-filter: blur(8px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

li a{
    padding-left: 40px;
}

nav a{
    font-weight: 800;
    color: #EDF5E1;
    letter-spacing: 2px;
    text-decoration: none;
}

nav a:hover{
    color: #09f;
    
    transition: 0.40s;
}

.nav-cv{
    margin-left: 14px;
    border-radius: 2%;
    padding: 10px;
    background-color: #09f;
}

.nav-cv:hover{

    transition: .40s;
    background-color: #EDF5E1;
    color: #000;
}

.logo{
    width: 60px;
}




/*section h1, h2{
    text-align: center;
    margin: 100px 0px;
}*/




/*Profile Section*/

.nav-h3{
    font-size: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3%;

}

.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height:100vh;
    color: #EDF5E1;
    text-align: center;
    
}

.profile-picture{
    margin-bottom: 20px;
}

.profile-container h1{
    font-size: 50px;
    padding-bottom: 15px;

}

.profile-social-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.profile-social-div a {
    border-radius: 10%;
    text-decoration: none;
    padding: 10px;
}



.profile-social-div a svg{
    fill: #09f;
}

.profile-social-div a svg:hover{
    fill: #EDF5E1;
    transition: 0.40s;
}

.profile-about-a{
    text-decoration: none;
    border-radius: 5%;
    padding: 10px 20px;
    background-color: #09f;
}

.profile-about-a:hover{
    font-size: 17px;
    transition: .40s;
    background-color: #EDF5E1;
    color: #000;
}

.profile-social-div-img{
    height: 12px;

}




/*Projects Section*/

.projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-container h1{
    padding: 80px;
}

.articles-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 420px;
    margin-bottom: 5px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    
}

.projects-container-article{
    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: #EDF5E1;
    width: 500px;
    height: 600px;
    border-radius: 3%;
    box-sizing: border-box;
}

.projects-container-article p{
    padding: 35px;
    text-align: center;
}


.project-card{
    position: relative;
    align-items: center;
    overflow: hidden;
    
}

.project-card-img{

    width: 450px;
}


.project-a:where(.img-a){
    color: #EDF5E1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    fill: #EDF5E1;
}
.img-a:hover{
    opacity: 100;
}

.h2:where(.img-a){
    text-align: center;
    background-color: #000;
    font-weight: 500;
    color: #EDF5E1;
    padding: 10px;
    border-radius: 90% 0% 90% 0%;
    box-sizing: border-box;
    width: 100%;
}

.project-p:where(.img-a){
    width: 320px;
    color: #000;
    box-sizing: border-box;
    height: 180px;
}

.project-span:where(.img-a){
    color: #000;
}





/*Skills Section*/

.skills-container{
    border-top: 1px solid #09f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;

}

.skills-co{
    display: flex;
}

.skills-fi{
    margin-top: 80px;
    padding: 80px;
}

.skills-fi:hover{
    color: #09f;
}



/*About Section*/

.about-container{
    border-top: 1px solid #09f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 86vh;

}




/*Footer Section*/

.footer-container{
    border-top: 1px solid #09f;
    text-align: center;
    padding: 25px;


}

.footer-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 10px;

}

.footer-div a {
    border-radius: 10%;
    text-decoration: none;
    padding: 5px;
}

.footer-div a:hover {
    color: #09f;
 
    transition: 0.10s;
}

.footer-div a svg{
    fill: #09f;
}

.footer-div a svg:hover{
    fill: #EDF5E1;
    transition: 0.40s;
}

.footer-img{
    padding-top: 7px;
    height: 22px;
}