*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    color: #EDF5E1;
    list-style: none;
    text-decoration: none;
}

body{

    align-items: center;
    background-color: #010001; /*#010001*/

    -webkit-font-smoothing: antialiased;
}

.father{
    box-sizing: border-box;
}

.main-h1:hover{
    color: #09f;
}



/*Header*/

.logo{
    width: 70px;
    margin-left: 20px;
}

nav{
    position: fixed;
    z-index: 1000;
    margin-top: 10px;
    height: 70px;
    width: 100%;
    background-color: rgba(29, 28, 28, 0.6);
    
}

nav a{
    font-size: 18px;
    font-weight: 800;
    color: #EDF5E1;
    letter-spacing: 2px;
    padding-left: 10px;
}

nav a:hover{
    color: #09f;
    transition: 0.40s;
}



nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.checkbtn{
    display: none;
}


#check{
    display: none;
}

.sub{
    display: none;
}


.menu-bar ul li:hover  .sub{
    z-index: 2000;
    width: 150px;
    padding: 10px;
    background-color: rgba(29, 28, 28, 0.6);
    text-align: center;
    margin-top: -20px;
    display: block;
    position: absolute;
}

.menu-bar ul li:hover .sub ul{
    display: block;
}


/*Responsive*/

@media (max-width: 763px){

    .checkbtn{
        font-size: 40px;
        float: right;
        margin-top: 10px;
        margin-right: 30px;
        cursor: pointer;

    }

    .logo{
        margin-top: 5px;
        left: 0;
    }
    
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 60%;
        height: 100vh;
        background-color: rgba(29, 28, 28, 0.9);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .6s;

    }
    nav{
        display: block;
    }
    nav ul li{
        border: 1px solid #EDF5E1;
        border-radius: 3%;
        padding: 10px 0px ;
        display: block;
        margin: 70px 10px;
        line-height: 25px;
    }

    nav ul li a{
        font-size: 20px;
    }

    #check:checked ~ ul{
        left: 0%;
    }

    .skills-co{
        padding-left: 60px;
    }

    .about-container{
        padding-top: 200px;
    }
}




/*Profile Section*/

.nav-h3{
    font-size: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3%;

}

.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #EDF5E1;
    text-align: center;
}

.home1{
    position: relative;
    z-index: 900;
}

#home{
    min-height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;

    mix-blend-mode: overlay;
}




.profile-container h1{
    font-size: 50px;
    padding-bottom: 15px;

}

.profile-social-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.profile-social-div a {
    border-radius: 10%;
    text-decoration: none;
    padding: 10px;
}



.profile-social-div a svg{
    fill: #09f;
}

.profile-social-div a svg:hover{
    fill: #EDF5E1;
    transition: 0.40s;
}

.profile-about-a{
    text-decoration: none;
    border-radius: 5%;
    padding: 10px 20px;
    background-color: #09f;
}

.profile-about-a:hover{
    font-size: 17px;
    transition: .40s;
    background-color: #EDF5E1;
    color: #000;
}

.profile-social-div-img{
    height: 12px;

}




/*Projects Section*/

.projects-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-bottom: 180px;
}



.articles-container{
    display: flex;
    max-width: fit-content;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}






.projects-container-article{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDF5E1;
    height: 500px;
    border-radius: 3%;
    box-sizing: border-box;
}

.projects-container-article:hover{
    transition: 1s;
    border: 3px solid #09f;
    box-shadow: #EDF5E1;

}

.projects-container h1{
    padding: 80px;
}

.projects-container-article p{
    padding: 35px;
    text-align: center;
}


.project-card{
    position: relative;
    align-items: center;
    overflow: hidden;
    
}

.project-card-img{
    width: 320px;
    
}

.project-a:where(.img-a){
    color: #EDF5E1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 98%;
    opacity: 0;
    transition: .7s;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    fill: #EDF5E1;
    background-color: rgba(29, 28, 28, 0.6);
}
.img-a:hover{
    opacity: 100;

}

.h2:where(.img-a){
    text-align: center;
    background-color: #000;
    font-weight: 500;
    color: #EDF5E1;
    padding: 10px;
    border-radius: 75% 0% 85% 0%;
    box-sizing: border-box;
    width: 100%;
}

.project-p:where(.img-a){
    width: 320px;
    color: #000;
    box-sizing: border-box;
    height: 180px;
}

.project-span:where(.img-a){
    color: #000;
}

.p-s{
    color: #09f;
}

.p-s:hover{
    color: #EDF5E1;
}

.p-sp{
    color: #EDF5E1;
    text-decoration: underline;
}

.p-sp:hover{
    color: #09f;
    transition: 1.5s;
}



/*Skills Section*/

.logok{
    height: 90px;
     width: auto;
 }

 .skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-top: 90px;

}

.skills-container h1{
    padding: 80px;
}

.skills-co{
    background-color: rgba(29, 28, 28, 0.6);
    flex-wrap: wrap;
    max-width: 850px;
    display: flex;
    padding-left: 70px;
}



.skills-fi{
    margin: 20px;
    width: 190px;
    height: 190px;
    position: relative;
    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.skills-fi:hover{
    transition: 2s;
    border: 1px solid #09f;
    box-shadow: #EDF5E1;
}


.skills-a {
    z-index: 1;  
  }


.skills-fi:hover{
    background-image: linear-gradient(180deg, #09f, #09f);
  }


.skills-fi::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, #09f, #09f);
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .skills-fi::after {
    content: '';
    position: absolute;
    background: #252225;
    inset: 2px;
    border-radius: 15px;
  }  





/*About Section*/

.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 86vh;

}

.a-container{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(29, 28, 28, 0.6);
    align-items: center;
    
}

.a-div{
    align-items: center;
    text-align: center;
    padding: 20px;
}
.b-div{
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    padding: 60px;
    text-align: center;
}








/*Footer Section*/

.footer-container{

    text-align: center;
    padding: 25px;
}

.footer-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 10px;
}

.footer-div a {
    border-radius: 10%;
    text-decoration: none;
    padding: 5px;
}

.footer-div a:hover {
    color: #09f;
 
    transition: 0.10s;
}

.footer-div a svg{
    fill: #09f;
}

.footer-div a svg:hover{
    fill: #EDF5E1;
    transition: 0.40s;
}

.footer-img{
    padding-top: 7px;
    height: 22px;
}



